@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #e2e8f0;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0a0a0a; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #00f3ff; }